development:
  ACTIVITY_APP_DATABASE_USERNAME: root
  ACTIVITY_APP_DATABASE_PASSWORD: development_password
  ACTIVITY_APP_DATABASE_NAME: activity_app_development
test:
  ACTIVITY_APP_DATABASE_USERNAME: root
  ACTIVITY_APP_DATABASE_PASSWORD: test_password
  ACTIVITY_APP_DATABASE_NAME: activity_app_test
production:
  ACTIVITY_APP_DATABASE_USERNAME: root
  ACTIVITY_APP_DATABASE_PASSWORD: production_password
  ACTIVITY_APP_DATABASE_NAME: activity_app_production
  SECRET_KEY_BASE: 9dde52e41142b1e0820e28dbb05c3c8ca84479889c9ee921908a4b52772e5100b515f165f38ae87f7e41665b83526cc9fd3b1ddbdf3cce30511d10d78fb0700b
